.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main-container{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:white;
    overflow-x:hidden;
}

#title {
    font-size:60px;
    font-family:Papyrus;
    font-weight:bold;
    margin-top:50px;
    color:#d98443;

}


.recorder {
    margin-top: 2%;
}


.button-box{
    padding-top:30px;
    padding-bottom:50px;
}

.button{
    padding:10px;
    font-size:18px;
    font-family:Papyrus;
    font-color:#663d00;
    background-color:#edc487;
    margin-right:10px;
    font-weight:bold;
    border: 0px;
    border-radius: 8px;
    color:#45382e;
    transition-delay: 0.2s;

}

.button:hover {
     box-shadow: 2px 2px gray;
      transition-delay: 0.2s;
}
@media only screen and (max-width: 900px) {
    .text-box{
         background-image: url("../1.4.jpg");
         background-size:100%;
         padding:5%;
         margin-left:10%;
         margin-right:10%;
         margin-bottom: 10%;
         border-radius: 30px;
         font-family: Papyrus;
         font-weight: bold;
         font-size: 18px;
    }

    .footer{
    margin-bottom: 5%;
    margin-left:10%;
    margin-right:10%;
    }
}

@media only screen and (min-width: 900px) {
    .text-box{
         background-image: url("../1.4.jpg");
         background-size:100%;
         padding:5%;
         margin-left:30%;
         margin-right:30%;
         margin-bottom: 2%;
         border-radius: 30px;
         font-family: Papyrus;
         font-weight: bold;
         font-size: 18px;
    }
    .footer{
    margin-bottom: 2%;
    }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


